<div id="cover">
  <form method="GET" action="/artist-search-results">
    <div class="tb">
      <div class="td"><input type="text" placeholder="Search" name="artist" id="artist"></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>

