<div class="container">
  <form action="/artist-search-results" method="GET">
    <label for="artist">
      <input type="text" name="artist" id="artist">
    </label>
    <label for="search-button">
      <button>Search for Artist</button>
    </label>
  </form>
</div>